BasedOnStyle: LLVM
BreakBeforeBraces: Linux
IndentWidth: 8
TabWidth: 8
UseTab: AlignWithSpaces
IndentCaseLabels: false
IndentPPDirectives: AfterHash
# AllowShortIfStatementsOnASingleLine: WithoutElse
AlignEscapedNewlines: Left
ColumnLimit: 100
SortIncludes: Never
# clang-format16
# IntegerLiteralSeparator:
#   Binary: 4
#   BinaryMinDigits: 6
#   Hex: 4
#   BinaryMinDigits: 6
#   Decimal: 3
#   DecimalMinDigits: 9
